<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text utiles</title>
</head>
<body>
<h1>Welcome to the text analyazer. Enter your text below</h1>
<form action='/analyze ' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea>
    <br>
    <input type="checkbox" name="removepunc">remove punctuation<br>
    <input type="checkbox" name="fullcaps">UPPERCAPS<br>
    <input type="checkbox" name="newlineremover">New line remover<br>
    <input type="checkbox" name="spaceremover">space remover<br>
    <input type="checkbox" name="charcount">character counter<br>
    <button type='submit'> Analyze Text</button>

</form>
</body>
</html>

</body>
</html>